
.main {
  display: flex;
  flex-direction: row;
  padding: 32px;
  padding-bottom: 80px;
  justify-content: space-between;
  max-width: 1200px; 
  margin: 0 auto; 
  gap: 24px;
}

.image, .newSignupForm { 
  flex: 1; 
  display: block;
  margin: auto;
  max-width: 100%;
}

.page {
  margin: 0 auto;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

@media (max-width: 768px) {
  .page {
    gap: 32px;
    grid-row-start: 2;
  }

  .main {
    align-items: center;
    flex-direction: column;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 660px) {
  .image {
    padding: 0 32px 0 0;
  }
}
